.hit{
    color: greenyellow;
}

.flop{
    color: red;
}

body {
    background-color: aliceblue;
}

.img-adjust {
    width: -webkit-fill-available;
    height: 15rem;
}

.centered-form{
	margin-top: 60px;
    width:fit-content;
}

.bt-adjust {
    margin-top: 1%;
    margin-bottom: 1%;
}

.game-adjust {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

button#set {
    margin-left: 35%;
    margin-right: 40%;
}

#points {
    margin-bottom: 3%;
    width: -webkit-fill-available;
}

.register{
    height: 24rem;
    margin-left: 40%;
    width: 15rem;
    margin-right: 30%;
    margin-top: 20%;
}

.login {
    border-radius: 10px;
    height: fit-content;
    margin-left: 40%;
    width:15rem;
    margin-right: 30%;
    margin-top: 20%;
}

/* .card{

} */

.form-group{
    margin-bottom: 10px;
}