{%extends "base.html"%}
{%block body%}
<div style="display: none;" id="set">{{sentence}}</div>
<div style="display: none;" id="set_len">{{length}}</div>
<div style="display: none;" id="buff">{{bufferSentence}}</div>
<div class="container">
  <div class="row">
    <div class="col">
      <button id="quit" type="button" class="btn btn-primary">Quit</button>
    </div>
    <div class="col">
      <button id="restart" type="button" class="btn btn-primary">Restart</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="cr" class="col-sm hit">
      
    </div>
    <div id="wr" class="col-sm flop">
      
    </div>
  </div>
</div>
<class class="card">
    <h5 id="timer" class="card-header"></h5>
    <div id ="sentence" class="card-body">
      <!-- <p id="sentence"></p> -->
    </div>
  </div>
  <script>
    let size = 0;
    // const sentence = document.getElementById('sentence').innerHTML;
    // size = sentence.length;

    var sentence = document.getElementById('set');
    // var doc = new DOMParser().parseFromString(sentence.innerHTML, "text/xml");
    document.getElementById('sentence').insertAdjacentHTML("afterbegin",sentence.innerText);
    // document.getElementById('sentence').innerHTML = sentence.innerHTML;
    // var p = document.createElement('p');
    // p.innerHTML = sentence;
    // document.getElementById('sentence').appendChild(p);
    sentence.innerHTML = "";

    sentence = document.getElementById('set_len');
    size = parseInt(sentence.innerHTML);
    sentence.innerHTML = "";
    console.log("sentence size = ",size)
    let para = document.getElementById('buff');
    sentence = para.innerText;
    para.innerHTML = "";
    console.log('sentence = ',sentence);

    let mins = size;
    mins = mins * 3;
    var charpress = [];
    var points = [];
    var timeEnd = null;

      var timerId = setInterval(function() {
        if(mins === 0){
          document.getElementById("timer").innerHTML = "00:00:00";
          while(points.length < size){
            charpress.push("");
            points.push(0);
          }
          var obj = {char:charpress,hit:points};
          console.log('game over condition');
          timeEnd = obj;
          obj = JSON.stringify(obj);
          window.location = `/gameover/${obj}`;
          clearInterval(timerId);
        }
        dateObj = new Date(mins * 1000);
        hours = dateObj.getUTCHours();
        minutes = dateObj.getUTCMinutes();
        seconds = dateObj.getSeconds();
        time = hours.toString().padStart(2, '0')
                + ':' + minutes.toString().padStart(2, '0')
                + ':' + seconds.toString().padStart(2, '0');
        
        document.getElementById("timer").innerHTML = time;
        mins = mins - 1;
        }, 1000);


        // if(timeEnd !== null){
        //   window.location = `/gameover/${timeEnd}`;
        // }
      var i = 0;
      var cr = 0;
      var wr = 0;

      document.addEventListener('keypress', event => {
        event = event || window.event;
        var charCode = event.keyCode || event.which;
        var charStr = String.fromCharCode(charCode);
        console.log('key pressed =',charStr,", i = ",i);
        charpress.push(charStr);
        console.log('sentence word =',sentence[i],', pressed word =',charStr)
        var hit = (sentence[i] === charStr);
        hit?points.push(1):points.push(0);

        if(hit === true){
          cr = cr + 1;
          document.getElementById('cr').innerHTML = cr;
          document.getElementById("pe"+i.toString()).setAttribute("class","hit");
        }
        else{
          wr = wr + 1;
          document.getElementById('wr').innerHTML = wr;
          document.getElementById("pe"+i.toString()).setAttribute("class","flop");
        }

        if(i+1 === size){
          while(points.length < size){
            charpress.push("");
            points.push(0);
          }
          var obj = {"char": charpress, "hit": points}
          obj = JSON.stringify(obj);
          window.location = `/gameover/${obj}`;
        }

        i = i+1;

      });

      document.getElementById('quit').addEventListener('click', e =>{
        while(points.length < size){
            charpress.push("");
            points.push(0);
          }
          var obj = {"char": charpress, "hit": points}
          obj = JSON.stringify(obj);
          window.location = `/gameover/${obj}`;
      });

      document.getElementById('restart').addEventListener('click', e =>{
        location.reload(false);
      });

  </script>
{%endblock%}