{%extends "base.html"%}

{%block body%}
<div class="card login">
    <div class="card-header">
      Game Setting
    </div>
    <div class="card-body position-relative">
        <form action="{{url_for('game')}}" name="myform" method="get">
            <label for="points">Number Of Words : </label>
            <input type="number" id="points" name="points" placeholder="minimum value is 3" min="3" max="100" step="1">
            <br>
            <button id="set" type="submit" class="btn btn-primary">Enter</button>
        </form>
    </div>
  </div>
  <script>
    document.getElementById('set').addEventListener('click', e =>{
        let val = document.getElementById('points').value;
        if(val === ""){
          alert("value can not be empty");
          event.preventDefault();
        }
        val = parseInt(val);
        if(val > 100){
          alert("value must be less than or equal to 100");
          event.preventDefault();
        }
    });
  </script>
{%endblock%}